<div id="list-danger-page" class="page">
    <div class="menu">
        <a class="item" href="#!index" style="padding-left: 18px;">
            <i class="fa fa-home"></i>
        </a>
        <span class="item">Decoder</span>
    </div>
    <div style="height: 60px;">

    </div>
</div>
<div>
    <textarea placeholder="Paste a base64 here" style="height: 300px; width: 100%; border-width: 2px;border-radius: 10px; padding:10px; margin-top: 20px;margin-bottom: 20px;" ng-model="base64" ng-change="convertBase64(base64)"></textarea>
    <div class="image-container" style="height: 200px;">
        <img ng-src={{base64}} style="height: 200px;border-radius: 10px;" />
    </div>
</div>

<div>
	<h3>
		Support me
	</h3>
	<p>
		If it's usefull, please support me by downloading my apps on Appstore and Google Play and rating them 5 stars.
	</p>
	<p>
		Thanks.
	</p>
	<div class="page page-home">
		<div style="display: flex;">

			<a class="item" style="background-color: #4086cd;"
				href="https://apps.apple.com/us/developer/khang-le/id1078541780">
				<img style="border-radius: 10px;" src="https://dev-icon.com/appstore.png">
			</a>
			<a class="item" style="background-color: #03a058;"
				href="https://play.google.com/store/apps/developer?id=KL+Studio">
				<img style="border-radius: 10px;" src="https://dev-icon.com/googleplay.png">
			</a>
		</div>
	</div>
</div>

<div class="page page-home">

	<div>
		<div style="display: flex;">
			<div style="padding: 10px 10px 10px 10px;margin: 10px;">
				<h3>File Formats</h3>
				<p>
					You can upload up 3MB as JPG, PNG, GIF, BMP.
				</p>
			</div>

			<div style="padding: 10px 10px 10px 10px;margin: 10px;">
				<h3>Browser Support</h3>

				<p>
					The <strong>encoded results</strong> are <strong>compatible</strong> with all of the following
					browsers and versions. Please send me a note if there are issues.
				</p>

				<ul id="browser-support">
					<li>
						Chrome 4+</li>
					<li>
						Safari 3.1+</li>
					<li>
						Firefox 2+</li>
					<li>
						Opera 9+</li>
					<li>
						Edge
					</li>
					<li>
						IE 8+
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>