<div id="list-danger-page" class="page">
    <div class="menu">
        <a class="item" href="#!index" style="padding-left: 18px;">
            <i class="fa fa-home"></i>
        </a>
        <span class="item">Encoder</span>
    </div>
    <div style="height: 60px;">

    </div>
</div>
<div>
    <div class="dropzone" file-dropzone="[image/png, image/jpeg, image/gif]" file="image" file-name="imageFileName"
        data-max-file-size="3">
        <div style="width: 100%; text-align: center; color: #ffffff;">Drop and drag image here <br/>(png jpeg gif)</div>

    </div>
    <div class="image-container">
        <img ng-src={{image}} style="height: 60px;border-radius: 10px;" />
        <span style="padding-left: 10px;color: #5d5a5a;">{{imageFileName}}</span>
    </div>
    <textarea style="height: 300px; width: 100%; border-width: 2px;border-radius: 10px; padding:10px">{{image}}</textarea>
</div>


<div class="page page-home">

	<div>
		<div style="display: flex;">
			<div style="padding: 10px 10px 10px 10px;margin: 10px;">
				<h3>File Formats</h3>
				<p>
					You can upload up 3MB as JPG, PNG, GIF, BMP.
				</p>
			</div>

			<div style="padding: 10px 10px 10px 10px;margin: 10px;">
				<h3>Browser Support</h3>

				<p>
					The <strong>encoded results</strong> are <strong>compatible</strong> with all of the following
					browsers and versions. Please send me a note if there are issues.
				</p>

				<ul id="browser-support">
					<li>
						<i class="fa fa-chrome" aria-hidden="true" style="padding-right: 5px;"></i>Chrome 4+</li>
					<li>
						<i class="fa fa-safari" aria-hidden="true" style="padding-right: 5px;"></i>Safari 3.1+</li>
					<li>
						<i class="fa fa-firefox" aria-hidden="true" style="padding-right: 5px;"></i>Firefox 2+</li>
					<li>
						<i class="fa fa-opera" aria-hidden="true" style="padding-right: 5px;"></i>Opera 9+</li>
					<li>
						<i class="fa fa-edge" aria-hidden="true" style="padding-right: 5px;"></i>Edge
					</li>
					<li>
						<i class="fa fa-internet-explorer" aria-hidden="true" style="padding-right: 5px;"></i>IE 8+
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>