<h1 style="text-align: center;">Base64 <a href="#!encoder" style="color:#0171ec">Encoder</a> and <a style="color:#0171ec" href="#!decoder">Decoder</a>
</h1>

<div class="page page-home">
	<div>
		<div style="display: flex;">
			<a class="item item-wrong" href="#!encoder">
				<i class="fa-home-page fa-th"></i>
				<div>Encoder</div>
			</a>

			<a class="item item-danger" href="#!decoder">
				<i class="fa-home-page fa-th"></i>
				<div>Decoder</div>
			</a>
		</div>
	</div>

</div>

<div class="page page-home">
	<div style="max-width: 800px;">
		<h3>
			Support me
		</h3>
		<p>
			If it's usefull, please support me by downloading my apps on Appstore and Google Play and rating them 5
			stars.
		</p>
		<p>
			Thanks.
		</p>
		<div class="page page-home">
			<div style="display: flex;">

				<a class="item" style="background-color: #4086cd;"
					href="https://apps.apple.com/us/developer/khang-le/id1078541780">
					<img style="border-radius: 10px;" src="https://dev-icon.com/appstore.png">
				</a>
				<a class="item" style="background-color: #03a058;"
					href="https://play.google.com/store/apps/developer?id=KL+Studio">
					<img style="border-radius: 10px;" src="https://dev-icon.com/googleplay.png">
				</a>
			</div>
		</div>
		<div class="page page-home">
			<div style="display: flex;">

				<div style="width: 50%;">
					<h3>File Formats</h3>
					<p>
						You can upload a image up 3MB as JPG, PNG, GIF, BMP.
					</p>
				</div>
				<div style="margin-left: 10px;width: 50%;">
					<h3>Browser Support</h3>

					<p>
						The <strong>encoded results</strong> are <strong>compatible</strong> with all of the following
						browsers and versions. Please send me a note to <strong>lbt.khang@gmail.com</strong> if there
						are issues.
					</p>

					<ul id="browser-support">
						<li>
							<i class="fa fa-chrome" aria-hidden="true" style="padding-right: 5px;"></i>Chrome 4+</li>
						<li>
							<i class="fa fa-safari" aria-hidden="true" style="padding-right: 5px;"></i>Safari 3.1+</li>
						<li>
							<i class="fa fa-firefox" aria-hidden="true" style="padding-right: 5px;"></i>Firefox 2+</li>
						<li>
							<i class="fa fa-opera" aria-hidden="true" style="padding-right: 5px;"></i>Opera 9+</li>
						<li>
							<i class="fa fa-edge" aria-hidden="true" style="padding-right: 5px;"></i>Edge
						</li>
						<li>
							<i class="fa fa-internet-explorer" aria-hidden="true" style="padding-right: 5px;"></i>IE 8+
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>