<h1 style="text-align: center;">Base64 Encoder and Decoder</h1>

<div class="page page-home">
	<div>
		<div style="display: flex;">
			<a class="item item-full" href="#!encoder">
				<i class="fa-home-page fa-th"></i>
				<div>Encoder</div>
			</a>

			<a class="item item-hint" href="#!decoder">
				<i class="fa-home-page fa-th"></i>
				<div>Decoder</div>
			</a>
		</div>
	</div>
	<div class="container content-box">
		<div class="row description">
			<!-- ~~~~~~~~~~~~~~~~~~~~~ -->
			<!--  Description: Upload  -->
			<!-- ~~~~~~~~~~~~~~~~~~~~~ -->
	
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<h3 class="content-box-title">File Formats</h3>
				<p>
					You can upload up to 20 images (max. 1.00 MB each) as JPG, PNG, GIF, WebP, SVG or BMP.<br>
					<br>
					Please note that Internet Explorer 8 has a limit of 32 KB for <a href="http://en.wikipedia.org/wiki/Data_URI_scheme" target="_blank">data URI</a>.
					Versions below have no support.
				</p>
			</div><!-- /col -->
	
					<!-- ~~~~~~~~~~~~~~~~~~~~ -->
			<!--  Image Optimization  -->
			<!-- ~~~~~~~~~~~~~~~~~~~~ -->
	
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<h3 class="content-box-title">Image optimization</h3>
				<p>
					We can optimize your JPEG &amp; PNG images, using <a href="http://www.kokkonen.net/tjko/projects.html" target="_blank">jpegoptim</a> and
					<a href="http://optipng.sourceforge.net/" target="_blank">optipng</a>. This will reduce the file without any visible impact
					(in most cases).
				</p>
				<p>
					Optimization status:
				</p>
				<p>
					<select name="optimize-images" id="optimize-images" class="form-control">
						<option value="false">disabled</option>
						<option value="true">enabled</option>
					</select>
				</p>
			</div><!-- /col -->
			
			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<!--  Description: Browser Support -->
			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<h3 class="content-box-title">Browser Support</h3>
	
				<p>
					The <strong>encoded results</strong> are <strong>compatible</strong> with all of the following browsers and versions. Please send me a note if there are issues.
				</p>
	
				<ul id="browser-support">
					<li>
						<img src="https://www.base64-image.de/build/img/browser-icons/chrome_24x24-a7ca66e6b4.png" alt="" width="24" height="24" title="Google Chrome">Chrome 4+</li>
					<li>
						<img src="https://www.base64-image.de/build/img/browser-icons/safari_24x24-4b9304e7c1.png" alt="" width="24" height="24" title="Apple Safari">Safari 3.1+</li>
					<li>
						<img src="https://www.base64-image.de/build/img/browser-icons/firefox_24x24-9cb479bf41.png" alt="" width="24" height="24" title="Mozilla Firefox">Firefox 2+</li>
					<li>
						<img src="https://www.base64-image.de/build/img/browser-icons/opera_24x24-1e135b7c74.png" alt="" width="24" height="24" title="Opera">Opera 9+</li>
					<li>
						<img src="https://www.base64-image.de/build/img/browser-icons/edge_24x24-11efc6ad6b.png" alt="" width="24" height="24" title="Microsoft Edge">Edge
					</li>
					<li>
						<img src="https://www.base64-image.de/build/img/browser-icons/ie9-10_24x24-4a2e4800a5.png" alt="" width="24" height="24" title="Microsoft Internet Explorer">IE 8+
					</li>
				</ul>
			</div><!-- /col -->
	
		</div><!-- /row -->
	</div>
</div>