<h1 style="text-align: center; color:#0171ec">Base64 Encoder and Decoder</h1>

<div class="page page-home">
	<div>
		<div style="display: flex;">
			<a class="item item-wrong" href="#!encoder">
				<i class="fa-home-page fa-th"></i>
				<div>Encoder</div>
			</a>

			<a class="item item-danger" href="#!decoder">
				<i class="fa-home-page fa-th"></i>
				<div>Decoder</div>
			</a>
		</div>
	</div>

</div>

<div>
	<h3>
		Support me
	</h3>
	<h4 style="font-weight: normal;">
		If it's usefull, please support me by downloading my apps on Appstore and Google Play and rating them 5 stars.
		Thanks.
	</h4>
	<div class="page page-home">
		<div style="display: flex;">

			<a class="item" style="background-color: #4086cd;"
				href="https://apps.apple.com/us/developer/khang-le/id1078541780">
				<img style="border-radius: 10px;" src="https://dev-icon.com/appstore.png">
			</a>
			<a class="item" style="background-color: #03a058;"
				href="https://play.google.com/store/apps/developer?id=KL+Studio">
				<img style="border-radius: 10px;" src="https://dev-icon.com/googleplay.png">
			</a>
		</div>
	</div>
</div>